@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }


  #header {
    background-color: grey;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 48px;
    padding: 16px;
    padding-left: 96px;
    padding-right: 96px;
  }

  #logo {
    color: white;
    font-family: 'Lobster';
    font-size: 3.5rem;
  }

  #city-search-form {
    position: relative;
    display: flex;
    height: 24px;
    align-self: center;
    gap: 4px;
    top: 7px;
  }

  #city-slug {
    color: white;
    background-color: #5fbcd4;
    font-family: 'Roboto';
    padding: 8px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 8px;
    margin: 16px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    justify-content: space-around;
    column-gap: 16px;
    width: 100% - 32px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
  }

  #moment {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    align-self: start;
    gap: 16px;
  }

  #city-container {
    font-size: 3rem;
    font-weight: 525;
    justify-self: center;
    align-self: end;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  #current-weather-container {
    position: relative;
    font-size: 5rem;
    font-weight: 600;
    grid-column-start: 1;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
  }

  #condition {
    font-size: 3rem;
    font-weight: 525;
    align-self: end;
    grid-column-start: 2;
    grid-row-start: 1;
    text-transform: capitalize;
    justify-self: start;
  }

  #weather-description {
    justify-self: start;
    font-size: 1.5rem;
    text-transform: capitalize;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  #weather-icon {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
    width: 100px;
    height: auto;
  }

  #condition-container {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
  }

  #three-hr-container {
    font-weight: 300;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
  }

  .three-hr-chunk {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    text-align: center;
    gap: 4px;
    color: black;
    border-bottom: 1px solid black;
    padding: 8px;
  }

#toggle {
    position: relative;
    align-self: center;
    top: 6px;
}

  #celsius, #fahrenheit {
    font-weight: 550;
    color: black;
    background-color: white;
    font-size: 1rem;
    padding: 6px;
  }

  #celsius {
    color: black;
    background-color: white;
    border-radius: 8px 0px 0px 8px;
  }

  #fahrenheit {
    color: black;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
  }

  #toggle > .active {
    color: white;
    background-color: #5fbcd4;
    border: 1px solid black;
  }

  @media screen and (max-width: 500px) {
    #header {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-items: center;
    }

    #city-search-form {
        top: 0px;
    }

    #city-slug {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        row-gap: 16px;
      }

      #current-weather-container {
        font-size: 3rem;
        position: inherit;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row: 1 / 2;
      }

      #city-container {
        position: inherit;
        font-size: 2rem;
        grid-row-start: 2;
        grid-column-start: 1;
      }

      #moment {
        flex-direction: column;
        gap: 0px;
        font-size: 1.25rem;
        grid-row-start: 3;
        grid-column-start: 1;
        align-items: center;
      }

      #time, #date {
        text-align: center;
      }

      #condition {
        font-size: 2rem;
        font-weight: 525;
        align-self: end;
        grid-column-start: 1;
        grid-row-start: 1;
        text-transform: capitalize;
        justify-self: center;
      }
    
      #weather-description {
        justify-self: center;
        font-size: 1.25rem;
        text-transform: capitalize;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }

      #weather-icon {
        grid-row: 3 / 4;
        grid-column: 1 / 1;
        justify-self: center;
        align-self: center;
        width: 100px;
        height: auto;
      }

      #condition-container {
        grid-row: 4 / 5;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
      }

      #three-hr-container {
        flex-direction: column;
      }

      .three-hr-chunk {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        gap: 4px;
        color: black;
        padding: 8px;
      }
  }